html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 70px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}


body > .container {
  padding: 60px 15px 0;
}

.pageContent {
    min-height: 600px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

#footer > .container {
  padding: 15px 15px 0 15px;
}
#addForm h3, label{
  color: white;
}
#carousel-example-generic{
  background-color: black;
  height: 400px;
}
#carousel-example-generic img{
		/*width: 70%;
		height: 70%;*/
		margin: auto;
}
.carousel-caption h2 p{
  color: white;
}
#alertDiv{
  width: 50%;
}
